*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.login-wrapper{
    width: 430px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;

    margin: auto auto;
}

.login-wrapper > h2{
    font-size: 24px;
    color: #6A24FE;
    margin-bottom: 20px;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}


.login-wrapper .divider {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
}
.login-wrapper .divider::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: #C2C7D0;
    position: absolute;
    top: 9px;
    left: 0;
}
.login-wrapper .divider span {
    padding: 0 10px;
    background-color: #FFF;
    z-index: 2;
    position: relative;
}

.social-login button {
    float: left;
    padding: 10px 0 10px 30px;
    width: 150px;
    margin-bottom: 15px;
    display: block;
    border: 1px solid #C2C7D0;
    border-radius: 5px;
    position: relative;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: .3s
}
.login-wrapper .social-login button.google ,
.login-wrapper .social-login button.linkedin {
    margin-left: 50px;
}
.login-wrapper .social-login button.facebook {
    background-color: #3b5998;
}
.login-wrapper .social-login button.facebook::before {
    content: "\f09a";
}
.login-wrapper .social-login button.google {
    background-color: #dd4b39;
}
.login-wrapper .social-login button.google::before {
    content:"\f1a0";
}
.login-wrapper .social-login button.github {
    background-color: #333;
}
.login-wrapper .social-login button.github::before {
    content:"\f09b";
    font-family: fontAwesome;
}
.login-wrapper .social-login button.linkedin {
    background-color: #0077b5;
}
.login-wrapper .social-login button.linkedin::before {
    content:"\f0e1";
    font-family: fontAwesome;
}
.login-wrapper .social-login button.facebook::before ,
.login-wrapper .social-login button.google::before ,
.login-wrapper .social-login button.github::before ,
.login-wrapper .social-login button.linkedin::before {
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    border-right: 1px solid #C2C7D0;
    padding: 0 5px;
    width: 20px;
    height: 100%;
    line-height: 40px;
}

